{% extends 'layout.html.twig' %}

{% block content %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
           <h1>{{ juerga.evento }}</h1>
            <h2>Listado de asistentes</h2>
        </tr>
        </thead>
        <tbody>
            <tr>
                {% for asistentes in juerga.asistente %}
                <td>{{ asistentes }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay asistentes que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
